/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 14px;
  vertical-align: baseline;
/*Font changes*/
  font-family: 'verdana',sans-serif;
  font-weight: lighter;
  color: green;
  letter-spacing: 0em;
  word-spacing: 0em;
  line-height: 1.15;
}

/* HTML5 display for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* background*/
body {
  line-height: 1;
  background-color: pink;
}

/* Fonts, spacing */
p, h1, h2, h4, h5 a{
  margin-top: 1vh;
  margin-bottom: 1vh;
}

/*self intro title*/
h1{
  text-align: center;
  font-size: 3.333333333333333333em; /*60/18*/
}

/*contact info body*/
h2{
  font-size: 2em; /*48/18*/
	text-align: center;

}

/*Panel caption body*/
h3{
  margin:1vw;

}

/*Panel caption title*/
h4{
  font-size: 2em; /*72/18*/
  margin-top: 2vw;
}

h5{
  font-size: 2em; /*72/18*/
  margin-top: 2vw;
}

p{
  font-size: 2em; /*36/18*/
  margin-top: 1vw;
}
.bottom{
  width: 100vw;
  padding: 50px ;
  background: beige ;
  text-align: center;
  margin-top: 10vw;
}
.splashtitle{
  grid-column: 3;
  grid-row: 3;
  padding: 2%;
  word-spacing:0.25em;
  color:green;
  font-size: 8em;
  text-align: center;
  font-weight: 100;
  align-self: center;
}

.selfintroduction{
  max-width: 75vw;
  margin: auto;
  background-color: beige;
  border-radius: 6vw;
}

.introbox{
  display: flex;
  margin-right: 5vw;
  margin-left: 5vw;
  margin-top: 15vh;
  margin-bottom: 15vh;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
}

.introtext{
  flex: 1 1 auto ;
  max-width: 50vw;
  min-width: 40vw;
  padding: 4vw;
	max-width: 75vw;

}

.introphoto img{
  flex: 1 1 auto;
  box-sizing: border-box;
  max-height: 100vh;
  min-height: 30vh;
  padding: 5vw;
}
.introphoto img{
  max-width: 40vw;
  min-height: auto;
}
.sections img{
  flex: 1 1 auto;
  box-sizing: border-box;
  max-height: 90vh;
  min-height: 30vh;
  padding: 5vw;
	border-top-left-radius: 1vw;
	border-top-right-radius: 1vw;
	width: 25vw;
	height: 25vw;
}

.careeraspects{
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: auto;
  grid-template-areas:
    "internships coursework experiences";
  margin-left: 7.5vw;
  margin-right: 7.5vw;
	grid-column-gap: 3em;
	grid-row-gap: 3em

}
.sections{
  background: beige;
  text-align: center;
  border-radius: 5vw;
}
@media screen and (max-aspect-ratio: 5/4 ), (max-width:1600px){
.introbox{
  flex-wrap: wrap-reverse;
}
}

@media screen and (max-aspect-ratio: 3/4), (max-width:600px){
.careeraspects{
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "internships" "coursework" "workexperience";
  margin-left: 25vw;
  margin-right: 25vw;
  grid-row-gap: 12vw;
}
.sections img{
  width: 50vw;
  height: 50vw;
}
